ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

hiddenLine()
  position: relative
  border-bottom: .02rem solid #ddd
  border-right: .02rem solid #ddd
  margin-bottom: -1px
  z-index: 1

comment()
  line-height: .42rem
  font-size: .26rem
  color: #616161
  word-break: break-all
  word-wrap: break-word